* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.shim-container {
  border-radius: 4px;
  padding: 12px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  justify-content: flex-start;
}

.shim-card {
  border: 2px black dotted;
  border-radius: 5px;
  margin: 4px 0px 0px 0px;
  width: 350px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.shim-img {
  width: 100%;
  height: 300px;
  border-radius: 4%;
  background-color: rgb(167, 175, 175);
}

.shim-title {
  background-color: rgba(171, 175, 175, 0.708);
  height: 20px;
  width: 150px;

  margin: 15px 0px 12px 0px;
}

.shim-subtitle {
  background-color: rgba(188, 192, 192, 0.708);
  height: 15px;
  width: 250px;

  margin: 13px 0px;
}
.shim-price {
  background-color: rgba(188, 192, 192, 0.708);
  height: 23px;
  width: 320px;

  margin: 10px 0px 5px 0px;
}

.shim-body {
  display: flex;
  flex-wrap: wrap;
}
